/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.main_content {}

.header:after { 
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.logo {
	float: left;
}

.navigation {
	float: right;
	width: 90%;	
}

.post {}

.post:after { 
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.image {
	float: left;
}

.post_excerpt {
	float: left;
	width:80%;
}
