/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%;
	margin: 0 auto;
}


.header {}

.header:after { 
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.logo {
	float: left;
}

.navigation {
	float: right;
	width: 90%;	
}

.sidebar {
	float: left;
	height: 300px;
	width: 20%;
}

.main_content {
	float: left;
	height: 340px;
	width: 100%;
}

.sub_content {
	float: right;
	height: 150px;
	width: 80%;
}
.sub_content_2 {
	float: right;
	clear: right;
	height: 150px;
	width: 80%;
}

.footer {
	clear: both;
}