/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 06 */

.container {
	width: 1024px; /* what happens to the widget boxes when you change this width? */
	margin: 0 auto;
}


.main_content {}

.main_content:after { 
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.widget {
	float: left;
}


.footer {
	clear: both;
}


.widget.tall {
	height: 600px;
}

.widget.fix {
	background: #8F1B65;
}